


/* Celular  Extra Small size display*/


@media all and (max-width: 768px){


.header {
  background-image: url(../img/hamburger.jpg);
  height: 250px;
  background-size: 100% 100%; }

ul, .texto {
  display: none;
}

.rectangulo {
  width: 500px;
  height: 4px;
  margin-bottom: 9%; 
  margin-top: 5%;}

.uno {
  background-color: #01579b; }

nav .brand-logo{
  font-size: 1em;
}

.catering{
  display: none;
}

h1{
  font-size: 10%;
  margin-top: 15%;
  margin-left: 3%;

}

.resize{
  display: block;
  margin: auto;
  height: 80%;
  width: 100%;
}


/* Tablet  Small size display*/

@media  all  and (min-width: 768px) and (max-width: 992px ){

.rectangulo {
  width: 100%;
  height: 4px;
  margin-bottom: 9%; 
  margin-top: 5%;}

.uno {
  background-color: #01579b; }

  
.header {
  background-image: url(../img/hamburger.jpg);
  height: 300px;
  background-size: 100% 100%; }

nav .brand-logo{
  font-size: 1em;
}

ul, .texto {
  display: none;
}

.txt_movil{
  font-size: 30px;
  font-weight: bold
}

.resize{
  display: block;
  margin: auto;
  height: 80%;
  width: 100%;
}



/* Laptop  Medium size display*/

@media  all  and (min-width: 992px) and (max-width: 1200px ){
  .header {
  background-image: url(../img/hamburger.jpg);
  height: 400px;
  background-size: 100% 100%; }
  .header h1 {
    margin-top: 25%;
    margin-left: 3%; }



/* Desktop  Large size display*/


@media all and (min-width: 1200px){
  .header {
  background-image: url(../img/hamburger.jpg);
  height: 500px;
  background-size: 100% 100%; }
  .header h1 {
    margin-top: 33%;
    margin-left: 3%; }

