*{
	font-family: 'Amiri', serif;
}


.navbar{
	color: #F5F5F5;
}

.bold{
	color: gray;
	text-align: left;
	padding-left: 1%;
}

.header{
	background-image: url(../img/hamburger.jpg);
	height: 500px;
	background-size: 100% 100%;
}

.padding{
	margin-top: 15%;
}

.resize{
	display: block;
	margin: auto;
	height: 80%;
	background-size: 100% 100%;
}

.bloquefooter{
	display: inline-block;
}

footer{
    background-color:white;  
    color:  #808080; 
    padding: 20px;
    text-align: center; 
    margin-bottom: 2%;
}